@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared */
.inter-font {
    font-family: "Inter", sans-serif;
}

.primary-btn {
    padding: 13px 17px;
    border-radius: 1000px;
    color: white;
    background: blue;
    border: none;
}

/* navbar */
.nav-section {
    background: #1A0B2E;
    color: #FFFFFF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 8px;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hamburger-icon {
    display: none;
}

@media screen and (max-width:576px) {
    .navbar {
        padding: 18px 20px;
    }

    .navbar-link,
    .primary-btn {
        display: none;

    }

    .hamburger-icon {
        display: block;
    }
}