@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared */
.inter-font {
    font-family: "Inter", sans-serif;
}

.primary-btn {
    padding: 13px 17px;
    border-radius: 1000px;
    color: white;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    font-weight: 600;
    cursor: pointer;
    border: none;
}

/* navbar */
.nav-section {
    background: #1d0938;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
}

.gradient-text {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    color: transparent;
    background-clip: text;
}

.navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navbar-link a {
    cursor: pointer;
}

.navbar-link a:hover {
    color: #e982e0;
}

.hamburger-icon {
    display: none;
}

/* banner section */
/* .banner{
    height: 85vh;
    background-image: url("/assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

/* footer section */

.footer-container{
    height: 40vh;
    background-image: url("/assets/footer-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.footer-text{
    border: 2px soilid red;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
}
.footer-logo{
    font-size: 3.5rem;
    font-weight: 800;
}
.sponser{
    display: flex;
    gap: 40px;

}


@media screen and (max-width:576px) {
    .navbar {
        padding: 18px 20px;
    }

    .logo {
        font-size: 2rem;
    }

    .navbar-link,
    .primary-btn {
        display: none;

    }

    .hamburger-icon {
        display: block;
        width: 25px;
        cursor: pointer;
    }
}