@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared */
.inter-font {
    font-family: "Inter", sans-serif;
}

.primary-btn {
    padding: 13px 17px;
    border-radius: 1000px;
    color: white;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    font-weight: 600;
    cursor: pointer;
    border: none;
}

/* navbar */
.nav-section {
    background: #1a0b2e;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
}

.gradient-text {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    color: transparent;
    background-clip: text;
}

.navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navbar-link a {
    cursor: pointer;
}

.navbar-link a:hover {
    color: #e982e0;
}

.hamburger-icon {
    display: none;
}

/* banner section */

.banner {
    min-height: 90vh;
    background-image: url(/assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner-conatainer {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    gap: 20px;
    top: 15%;

}

.circle {
    width: 350px;
    height: 350px;
    background-image: url("/assets/hero-circle.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 24px;
    position: relative;
}

.badg {
    position: absolute;
    background-color: #00FF88;
    color: #1A0B2E;
    padding: 10px 18px;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    font-size: 1.2rem;
    font-weight: 600;
    top: 0;
    right: 20px;
}

.banner-conatainer h1 {
    font-size: 4rem;
    margin-bottom: 16px;
    font-weight: 800;
}

.banner-conatainer p {
    font-size: 0.90rem;
    margin-bottom: 30px;
    font-weight: 200;
}

.banner-buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.banner-buttons button {
    padding: 12px 20px;
    border-radius: 1000px;
    cursor: pointer;
}

.banner-btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    border: none;
}

.banner-btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #00FF88;
    border: 1px solid rgba(0, 255, 136, 1);
    background: transparent;
}

/* About podcast */
.podcast-section {
    height: 60vh;
    background: #1a0b2e;
}

.Podcast-container {
    max-width: 1200px;
    margin: 0 auto;
    height: 40vh;
    border: 4px slid yellow;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.podcast-top {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 30px 10px;
    max-width: 55%;
    margin: 0 auto;
}

.podcast-top h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.podcast-top p {
    font-size: 0.9rem;
    font-weight: 200;
}

.podcst-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 1);
    padding-top: 80px;

}

.podcst-down h2 {
    color: rgba(0, 255, 136, 1);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
    text-align: center;
}

.podcst-down span {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

/* why-chose-techwave */
.why-chose-techwave {
    background: #230e3d;
    height: 90vh;
}

.why-chose-container {
    max-width: 1200px;
    border: 4px solid yellow;
    margin: 0 auto;
    height: 80vh;
}

.why-chose-grid {
    height: 70vh;
    border: 2px solid green;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.box-1 {
    background-color: #00FF88;
    grid-row: 1/3;
}

.box-2 {
    background-color: #FB09B4;
    grid-column: 2/4;
}

.box-3 {
    background-color: #F7E93F;
    grid-column: 2/4;
}

.box-4 {
    background-color: #68ff04;
    grid-column: 1/3;
}

.box-5 {
    background-color: aliceblue;
    grid-column: 3/4;
}
/* footer section */

.footer-container {
    min-height: 40vh;
    padding: 60px 20px;
    background-image: url("/assets/footer-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
}

.footer-logo {
    font-size: 3.5rem;
    font-weight: 800;
}

.sponser {
    display: flex;
    gap: 100px;
}

.sponser span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    flex-wrap: wrap;
}





@media screen and (max-width:576px) {
    .navbar {
        padding: 18px 20px;
    }

    .logo {
        font-size: 2rem;
    }

    .navbar-link,
    .primary-btn {
        display: none;

    }

    .hamburger-icon {
        display: block;
        width: 25px;
        cursor: pointer;
    }
}