@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared */
.inter-font {
    font-family: "Inter", sans-serif;
}

.primary-btn {
    padding: 13px 17px;
    border-radius: 1000px;
    color: white;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    font-weight: 600;
    cursor: pointer;
    border: none;
}

/* navbar */
.nav-section {
    background: #1a0b2e;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-link a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
}

.gradient-text {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    color: transparent;
    background-clip: text;
}

.navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navbar-link a {
    cursor: pointer;
}

.navbar-link a:hover {
    color: #e982e0;
}

.hamburger-icon {
    display: none;
}

/* banner section */

.banner {
    min-height: 90vh;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner-conatainer {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    position: relative;
    gap: 20px;
    top: 15%;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.circle {
    max-width: 350px;
    width: 90%;
    height: auto;
    aspect-ratio: 1/1;
    background-image: url("../assets/hero-circle.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 24px;
    position: relative;
}

.badg {
    position: absolute;
    background-color: #00FF88;
    color: #1A0B2E;
    padding: 10px 18px;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    font-size: 1.2rem;
    font-weight: 600;
    top: 20px;
    right: 30px;
}

.banner-conatainer h1 {
    font-size: 4rem;
    margin-bottom: 16px;
    font-weight: 800;
}

.banner-conatainer p {
    font-size: 0.90rem;
    margin-bottom: 30px;
    font-weight: 200;
}

.banner-buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.banner-buttons button {
    padding: 12px 20px;
    border-radius: 1000px;
    cursor: pointer;
}

.banner-btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    border: none;
}

.banner-btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #00FF88;
    border: 1px solid rgba(0, 255, 136, 1);
    background: transparent;
}

/* About podcast */
.podcast-section {
    min-height: 60vh;
    padding: 80px 5%;
    background: #1a0b2e;
}

.Podcast-container {
    max-width: 1200px;
    margin: 0 auto;
    border: 4px slid yellow;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.podcast-top {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 30px 10px;
    max-width: 55%;
    margin: 0 auto;
}

.podcast-top h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.podcast-top p {
    font-size: 0.9rem;
    font-weight: 200;
}

.podcst-down {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 1);
    padding-top: 60px;

}

.podcst-down h2 {
    color: rgba(0, 255, 136, 1);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}

.podcst-down span {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

/* why-chose-techwave */
.why-chose-techwave {
    background: #230e3d;
    padding: 80px 5%;
}

.why-chose-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    color: rgba(255, 255, 255, 1);
}

.why-chose-text h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}



.why-chose-grid h2 {
    margin: 16px 0px;
    font-size: 1.5rem;
    font-weight: 700;
}

.why-chose-grid p {
    font-size: 0.80rem;
    font-weight: 200;
}

.box-1 {
    grid-row: 1/3;
    background-color: #2a0f4d;
    border-radius: 40px;
    padding: 100px 40px;
}

.box-2 {
    grid-column: 2/4;
    background-color: #2a0f4d;
    border-radius: 40px;
    padding: 40px;
}

.box-3 {
    grid-column: 2/4;
    background-color: #2a0f4d;
    border-radius: 40px;
    padding: 40px;
}

.box-4 {
    grid-column: 1/3;
    background-color: #2a0f4d;
    border-radius: 40px;
    padding: 40px;
}

.box-5 {
    grid-column: 3/4;
    background-color: #2a0f4d;
    border-radius: 40px;
    padding: 40px;
}

/* feature-section */
.feature-host-section {
    padding: 10px 5%;
    background: #1a0b2e;
}

.feature-host-container {
    max-width: 1200px;
    margin: 0 auto;
}

.feature-container {
    padding: 80px 0px;
}

.feature-container h1 {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 40px 0;
}

.feature-grid-text {
    padding: 24px;
    color: rgba(255, 255, 255, 1);
}

.feature-grid-text h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.feature-grid-text p {
    font-size: 1rem;
    font-weight: 200;
    margin: 12px 0;
}

.time {
    display: flex;
    justify-content: start;
    align-items: center;
}

.featur-box {
    background: #250d44;
    border-radius: 24px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* host section */
.host-section {
    padding-bottom: 120px;
}

.host-section h1 {
    font-size: 3rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
    text-align: center;
}

.host-container {
    display: flex;
    gap: 24px;
    padding: 48px 40px;
    background-color: #250d44;
    border-radius: 40px;
}

.host-left img {
    width: 250px;
    height: auto;
    object-fit: cover;
}

.host-right h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
    font-weight: 700;
}

.host-right p {
    color: rgba(255, 255, 255, 1);
    font-size: 0.9rem;
    font-weight: 200;
    margin: 16px 0px;
}

.host-social-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.host-social-link a {
    border: 1px solid rgba(83, 60, 114, 1);
    padding: 10px;
    border-radius: 50%;
}

.host-social-link img {
    width: 20px;
    height: 20px;
}

/* footer section */
.footer-container {
    min-height: 40vh;
    padding: 60px 20px;
    background-image: url("../assets/footer-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-text {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;

    width: 90%;
}

.footer-logo {
    font-size: 3.5rem;
    font-weight: 800;
}

.sponser {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.sponser span {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 1rem;
}

.sponser img {
    width: 20px;
    height: 20px;
}

@media screen and (max-width:576px) {
    .navbar {
        padding: 18px 20px;
    }

    .logo {
        font-size: 2rem;
    }

    .banner {
        background-image: url(../assets/mobileimg.png);
    }

    .circle {
        background-image: url("../assets/hero-circle.png");
        max-width: 200px;
        margin: 45px auto 24px;
    }

    .banner-conatainer {
        padding: 110px 20px;
        padding-top: 60px;

    }

    .mic {
        width: 50px;
    }

    .badg {
        padding: 5px 10px;
        top: 0px;
        right: 5px;
    }

    .navbar-link,
    .primary-btn {
        display: none;

    }

    .hamburger-icon {
        display: block;
        width: 25px;
        cursor: pointer;
    }

    .podcst-down {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding-top: 40px 10px;
    }

    .podcst-down h2 {
        font-size: 1.8rem;
    }

    .podcast-top {
        max-width: 100%;
    }

    .why-chose-grid {
        grid-template-columns: 1fr;
    }

    .box-1,
    .box-2,
    .box-3,
    .box-4,
    .box-5 {
        grid-column: span 1;
        grid-row: span 1;
        padding: 30px;
    }

    .host-container {
        flex-direction: column;
        text-align: center;
    }

    .host-left img {
        width: 150px;
    }

    .host-right h2 {
        font-size: 1.5rem;
    }

    .host-right p {
        font-size: 0.85rem;
    }

    .host-social-link {
        justify-content: center;
        margin-top: 15px;
    }

    .featur-box iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }

    .feature-grid {
        grid-template-columns: repeat(1, 1fr);

    }

    .footer-container {
        min-height: 50vh;
        padding: 0px 0px;
        background-image: url("../assets/footer-bg.png");

    }

    .sponser {
        grid-template-columns: repeat(2, 1fr);
    }
}